
body {
    background: black;
    color: #eaffe0;
}

a:hover {
    color: white;
}
h6 {
    font-family: "Inconsolata";
    text-transform: uppercase;

}

p {
    font-family: "Inconsolata";
    
}

a {
    text-decoration: none;
    color: #eaffe0;
}

/* Dropdown Menu
   ========================================================================== */


/* Contact
   ========================================================================== */

.contact {
    position: fixed;
    top: 50%;
}

#email {
    position: fixed;
    bottom: 3% !important;
}

.selected {
    background-color: yellow;
}