h6 {
    font-family: "Inconsolata";
    text-transform: uppercase;

}

p {
    font-family: "Inconsolata";
    
}



/* Dropdown Menu
   ========================================================================== */

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}

.dropbtn {
    text-decoration: none;
    text-align: center;
    color: black;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
