ul.tab-nav {
    list-style: none;
    text-align: center;
    padding: 1rem;
    padding-top: 2rem;
}

ul.tab-nav li {
    display: inline;
}

ul.tab-nav li a.button {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: -1px;
    border-bottom: none;
}

ul.tab-nav li a.active.button {
    border-bottom: 0.175em solid #eaffe0;
}

ul.tab-nav li a.button:hover {
    border-bottom: 0.175em solid #eaffe0;
}

.tab-content .tab-pane {
    display: none;
}

.tab-content .tab-pane.active {
    display: block;
}