
ul.tab-nav {
    list-style: none;
}

ul.tab-nav li {
    display: inline;
}

ul.tab-nav li a.button {
    margin-bottom: -1px;
    border-bottom: 0.175em solid #eaffe0;
}

ul.tab-nav li a.active.button {
    border-bottom: none;

}

.tab-content .tab-pane {
    display: none;
}

.tab-content .tab-pane.active {
    display: block;
}
